<a href="https://colab.research.google.com/github/santimai/ProjectBigdata/blob/master/DataCleansingPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## เตรียมการโหลกข้อมูลจาก GoogleDrive

In [2]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')
root_path = 'gdrive/My Drive/Python_PLF/'  #raw data folder

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

### Load Raw Data

In [6]:
data = pd.read_csv('gdrive/My Drive/Python_PLF/Total_PL62019.csv')
data.head(5)

   Unnamed: 0             DateTime              Formula  ...  Hour  Shift   Status
0           1  2019-05-31 16:37:07  562     PIG BRD STR  ...    16     S2  Utilize
1           2  2019-05-31 16:38:08  562     PIG BRD STR  ...    16     S2  Utilize
2           3  2019-05-31 16:39:08  562     PIG BRD STR  ...    16     S2  Utilize
3           4  2019-05-31 16:40:08  562     PIG BRD STR  ...    16     S2  Utilize
4           5  2019-05-31 16:41:08  562     PIG BRD STR  ...    16     S2  Utilize

[5 rows x 21 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393412 entries, 0 to 393411
Data columns (total 21 columns):
Unnamed: 0            393412 non-null int64
DateTime              393412 non-null object
Formula               393412 non-null object
Performance           393412 non-null float64
jobID                 393412 non-null int64
steam                 393412 non-null float64
Temp_Con              393412 non-null float64
Temp_Front_Pellet     393412 non-null float64
current               393412 non-null float64
Total_Feed            393412 non-null float64
VIBRATION_X           393412 non-null float64
VIBRATION_Y           393412 non-null float64
VIBRATION_Z           393412 non-null float64
Gear_Oil_Temp         393412 non-null float64
Temp_Bearing_Front    393412 non-null float64
Temp_Bearing_Back     393412 non-null float64
Temp_Motor_PL         393412 non-null float64
Temp_Motor_SIEVE      393412 non-null float64
Hour                  393412 non-null int64
Shift                 393412 non-null object
Status                389661 non-null object
dtypes: float64(14), int64(3), object(4)
memory usage: 63.0+ MB

ข้อมูลบันทึกการเดินเครื่องอัดเม็ด ทุกๆ 1 นาที มีข้อมูลที่จะนำไปสร้าง model ได้แก่ 
1. DateTime  วันที่ผลิต  
2. Formula เบอร์อาหาร(สูตรอาหารแต่ล่ะชนิด)
3. Performance อัตราการ Feed อาหารเข้าในเครื่องอัดเม็ด หน่วยเป็น Ton/hr.
4. steam อัตตรา การจ่ายไอน้ำเข้าไปคลุกเค้าอาหาร หน่วยเป็น kg/hr.
5. Temp_Con อุณหภูมิของอาหารหลังจากคลุกเค้ากับไอน้ำ หน่วยเป็น องศา C
6. Temp_Front_Pellet อุณหภูมิของอาหารหลังจากถูกบีบอัดขึ้นรูปเป็นอาหารเม็ด หน่วยเป็น องศา C
7. current ค่ากระแสไฟฟ้าของ Motor ที่ใช้ขับเครื่องอัดเม็ด หน่วยเป็น Amp
โดยที่ต้อง ทำนายว่า การปรับ parameter ข้อ 3 - 6 ของแต่ละเบอร์อาหารที่ต่างๆกัน จะทำให้ เกิด current (ข้อ7) มากกว่า 80 % fullload กระแสมอเตอร์ ใช่หรือไม่

In [10]:
data.describe(include=['object', 'float', 'int']).T

                     count  unique  ...      75%      max
Unnamed: 0          393412     NaN  ...   295059   393412
DateTime            393412  262342  ...      NaN      NaN
Formula             393412      55  ...      NaN      NaN
Performance         393412     NaN  ...    20.76   185.52
jobID               393412     NaN  ...    42958    45308
steam               393412     NaN  ...  1382.53  1735.28
Temp_Con            393412     NaN  ...    73.84   153.56
Temp_Front_Pellet   393412     NaN  ...    82.89   122.85
current             393412     NaN  ...    325.8   614.25
Total_Feed          393412     NaN  ...     17.2    162.9
VIBRATION_X         393412     NaN  ...     1.55    44.95
VIBRATION_Y         393412     NaN  ...     1.78    44.95
VIBRATION_Z         393412     NaN  ...     1.23    11.79
Gear_Oil_Temp       393412     NaN  ...    52.26    60.69
Temp_Bearing_Front  393412     NaN  ...    49.11    60.14
Temp_Bearing_Back   393412     NaN  ...    34.65    45.85
Temp_Motor_PL       393412     NaN  ...    46.31    64.33
Temp_Motor_SIEVE    393412     NaN  ...    51.19  1797.94
Hour                393412     NaN  ...       19       23
Shift               393412       3  ...      NaN      NaN
Status              389661       3  ...      NaN      NaN

[21 rows x 11 columns]

In [0]:
# ลบข้อมูลแถวที่ไม่เกี่ยวกับการนำไปสร้าง Model